* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face
 { 
    font-family: "MyFont";
    src: url("../assets/myFont/Styrene-Regular.otf");
}

body {
    font-family: MyFont;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    background: #FDFDFFff;
    padding-top: 50px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
    gap: 20px;
}

h1 {
    color: #393D3F;

    position: sticky;
    top: 0;
    z-index: 900;

    grid-row: 1;
    grid-column: 3;


    text-align: center;
    /* font-family: 'Arial', sans-serif; */
    padding: 20px;
    background-color: rgba(253, 253, 255, 0.722);

}

h2 {
    color:  #fce071;

    text-align: center;
    /* font-family: 'Arial', sans-serif; */
    padding: 20px;
    background-color: #ddd6d2;
}

main {
    grid-column: 3;
    grid-row: 2;
}


p {
    color: #393D3F;
    text-align: left;
    /* font-family: 'Arial', sans-serif; */
    margin-bottom: 20px;
}

.p1 {
    color: #5A8293;
    text-align: center;
    /* font-family: 'Arial', sans-serif; */
    margin-bottom: 20px;
}

.modalH{
     color: #FFCC00;
    text-align: center;
    font-style: bold;
    /* font-family: 'Arial', sans-serif; */
    margin-bottom: 20px;
    font-size: 100px;
}

.modalP {
    color: #C6C5B9;
    text-align: center;
    /* font-family: 'Arial', sans-serif; */
    margin-bottom: 20px;
    font-size: 40px;
}


ul {
    color: #5A8293;
    text-align: left;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

#p5sketch1 {
    display:flex;
    justify-content: center;
    align-items: center;
}

#sketch2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* centre the sketch2 container */
}

#p5sketch3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5sketch4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5sketch5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5sketch6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5sketch7 {
    display: flex;
    justify-content: center;
    align-items: center;
}


a {
    color: #ffffff;
    text-align: center;
    font-family: 'Arial', sans-serif;

}

section {
    display: flex;
    flex-direction: column;
}

footer {
    color: #C6C5B9ff;
    grid-row: 3;
    grid-column: 5;
}

.pale{
    color:#C6C5B9ff;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(84, 106, 123, 0.789);
  padding: 20px;
  width: 100%; /* Could be more or less, depending on screen size */
  height: 100%;
}

.verticalLine{
    border-left: solid #C6C5B9ff;
    border-width: 1px;
    padding-left: 20px;
}


/*https://www.positioniseverything.net/html-page-break/  */
/* https://www.w3schools.com/howto/howto_js_slideshow.asp */